header {
    /* Colore dello sfondo */
    background-color: rgb(99, 158, 248);
    background-image: url("img/pattern.png");
    background-size: 70%;
}

div {
    height: 50pz;
    width: 50pz;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

span {
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.link {
    color: lightskyblue;
}

.grigio {
    color: gray;
}

.piccolo{
    font-size: 10px;
}

.gp{
    color: gray;
    font-size: 12px;
}

.evide{
    background-color: yellow;
}